html {
    background: #00060F;
}

.dialog {
    border-top: 2px solid #1F60C0 !important;
    border-radius: 0 !important;
    padding: 5px 25px !important;
}

.dialog__actions {
    justify-content: center;
}

.btn {
    background: #1F60C0 !important;
    padding: 0 20px !important;
}

.btn.btn_secondary {
    background: transparent !important;
}

.task.ghost {
    opacity: .5;
}

.btn.btn_warn {
    background: #c01f75 !important;
}
